#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.beer--image {
  max-width: min-content;
  height: min-content;
  position: relative;
  border-radius: 100%;

}

.beer--image>h3 {
  position:absolute;
  top: 30%;
  left: 35%;
}

.button--display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--single {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
