#root {
  background-color: rgb(55, 245, 181);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: whitesmoke;
  width: 30%;
  height: 50%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3)
}

.beer--image {
  max-width: min-content;
  height: min-content;
  position: relative;
  border-radius: 100%;

}

.beer--image>h3 {
  position:absolute;
  top: 30%;
  left: 35%;
}

.button--display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button--single {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button--single>button {
  height: 3rem;
  width: 120px;
  background-color: rgb(55, 245, 181);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
